<div id="<%= dom_id profile %>">
  <p>
    <strong><%= profile.nickname %></strong>
  </p>

  <p>
    <strong><%= profile.bio %></strong>
  </p>

  <p>
    <strong><%= profile.avatar %></strong>
  </p>

</div>
