<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= profile.bio %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= profile.avatar %>
  </p>

</div>
