<body class="community" style="width: 100%;">
  <div class="A_title">
    <h1>Сообщество</h1>
  </div>
  <div class="W_wrapprof">
    <% Profile.all.take(6).each do |profileShow| %>
      <div class="W_profiles">
        <div class="M_profInf">
          <%= render 'profiles/profileShow', profile: profileShow %>
        </div>
      </div>
    <% end %>
  </div>
</body>