<p style="color: green"><%= notice %></p>

<% content_for :title, "Community" %>

<h1>Сообщество</h1>

<div id="profiles">
  <% Profile.all.take(6).each do |profile| %>
    <%= render profile %>
    <p>
      <%= link_to "show this man", profile %> 
    </p>
  <% end %>
</div>
