<body class="profiles" style="width: auto;">
  <div class="W_directionBlocks">
    <div class="W_sizeBoxes">
      <%= render @profile %>

      <div class='O_trails'>
        <div class="W_titles">
          <%= link_to 'новый маршрут', new_admin_trail_path %>
          <%= link_to "мои маршруты", profile_path(current_user.profile) %>
        </div>

        <div class='M_briks'>
          <% @trails.each do |trail| %>
            <%= render 'trails/trailProfile', trail: trail %>
          <% end %>
        </div>
      </div> 
    </div>
  </div>
</body>