<body class="profiles" style="width: auto;">
  <div class="directionBlocks">

    <div class="sizeBoxes">
      <%= render @profile %>
    </div>

    <div class='O_trails'>
      <div class="W_titles">
        <%= link_to 'новый маршрут', new_admin_trail_path %>
        <%= link_to "мои маршруты", profile_path(current_user.profile) %>
      </div>

      <div class='M_briks'>
        <% @trails.each do |trail| %>
          <%= render partial: 'trail', locals: { trail: trail } %>
        <% end %>
      </div>
    </div>  
  </div>
</body>

