<body class="profiles" style="width: auto;">
  <div class="W_directionBlocks">
    <div class="W_sizeBoxes">
      <% if current_user&.id == @profile.user_id %>
        <!-- Если это профиль текущего пользователя -->
        <%= render "profiles/own_profile", profile: @profile %>
      <% else %>
        <!-- Если это профиль другого пользователя -->
        <%= render "profiles/other_profile", profile: @profile %>
      <% end %>
    </div>
  </div>
</body>