<!-- app/views/search/index.html.erb -->
<h1>Результаты поиска по запросу: <%= params[:q] %></h1>

<% if @profiles.any? %>
  <h2>Профили</h2>
  <ul>
    <% @profiles.each do |profile| %>
      <li><%= link_to profile.name, profile %></li>
    <% end %>
  </ul>
<% end %>

<% if @fandoms.any? %>
  <h2>Фандомы</h2>
  <ul>
    <% @fandoms.each do |fandom| %>
      <li><%= link_to fandom.title, fandom %></li>
    <% end %>
  </ul>
<% end %>

<% if @trails.any? %>
  <h2>Маршруты</h2>
  <ul>
    <% @trails.each do |trail| %>
      <li><%= link_to trail.title, trail %></li>
    <% end %>
  </ul>
<% end %>

<% if @profiles.empty? && @fandoms.empty? && @trails.empty? %>
  <p>Ничего не найдено.</p>
<% end %>