<body class='trails'>
  <h1>Маршруты</h1>

  <div class='briks'>
    <% @trails.each do |trail| %>
      <%= render partial: "trail", locals: { trail: trail } %>
    <% end %>

    
  </div>

    <% if can? :create, Trail %>
      <%= link_to 'New Trail', new_admin_trail_path %>
    <% end %>
    
</body>