<body class='trails'>
  <h1>Маршруты</h1>

  <div class='briks'>
    <% @trails.each do |trail| %>
      <%= render partial: "trail", locals: { trail: trail } %>
    <% end %>

    <% if can? :create, Trail %>
      <%= link_to 'New Trail', new_admin_trail_path %>
    <% end %>

    <div id="projects">
      <%= render collection: @projects, partial: "projects/project" %>
    </div>
  </div>
</body>