<p style="color: green"><%= notice %></p>


<% content_for :title, "Trails" %>

<h1>Маршруты</h1>

<div id="trails">
  <% @trails.each do |trail| %>
    <%= render trail %>
    <p>
      <%= link_to "Show this trail", trail %>
    </p>
  <% end %>
</div>

<%= link_to "New trail", new_trail_path %>



