<body class="newTrail" style="width: 100%;">
  <% content_for :title, "новый маршрут" %>

  <%= link_to "вернуться", fandoms_path, style: "margin: 2vw 5vw;" %>

  <!-- Форма для первого этапа -->
  <%= render "admin/trails/form", trail: @trail %>
</body>