<%= form_with(model: @subscription) do |form| %>
  <div class='mailer'>
    <div>
      <%= form.email_field :email, placeholder: "почта тут", class: 'email' %>
    </div>

    <div>
      <%= form.submit "отправить", class: 'submit' %>
    </div>
  </div>
<% end %>