<div class="A_fandonName">

  <h3>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to fandom.name, fandom %>
    <% elsif user_signed_in? %>
      <%= link_to fandom.name, fandom %>
    <% else %>
      <%= fandom.name %>
    <% end %>
  </h3>

</div>