<body class="fandoms"> 

<div class="W_Fandoms">

  <div class='O_trails'>

    <div class="W_titles">
      <%#= link_to "Все маршруты", trails_path %>
      <% if current_user && current_user.profile %>
        <%= link_to "мои маршруты", profile_path(current_user.profile) %>
      <% end %>
    </div>

    <div class='M_briks'>
      <% @random_trails.each do |trail| %>
        <%= render partial: "trails/trail", locals: { trail: trail } %>
      <% end %>
    </div>

  </div>

  <div class="O_fandoms">
    <h1>фандомы</h1>

      <% @fandoms.each do |fandom| %>
        <%= render partial: "fandom", locals: { fandom: fandom } %>
      <% end %>

    <%= link_to "новый фандом", new_admin_fandom_path %>
  </div>

</div>

</body>
