<body id='welcome'>
  <div class="W_loopContainer">
    <div class="W_loopContent">
      <!-- Первый набор элементов -->
      <% @random_trails.each do |trail| %>
        <div class="O_trailInf">
          <%= render partial: "trails/trailProfile", locals: { trail: trail } %>
        </div>
      <% end %>

      <!-- Второй набор элементов (дубликат первого) -->
      <% @random_trails.each do |trail| %>
        <div class="O_trailInf">
          <%= render partial: "trails/trailProfile", locals: { trail: trail } %>
        </div>
      <% end %>
    </div>
  </div>
</body>