/* main blockes */

.A_title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 95.388%;
    text-transform: lowercase;
    margin-left: 50%;
}

.A_deleteButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--light-grey);
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;

    &:hover {
        background-color: var(--green);
        border: none;
    }

    &:active {
        background-color: var(--green);
        border: none;
    }
}

/* trails blocks */

.A_fandonName {
    padding: 0 7vw 0.3vw 0;
    text-transform: lowercase;
}

.A_trailTitle {
    font-family: "Steinbeck";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 103.233%;
    /* 1.67756rem */
    text-transform: lowercase;
    width: 31.82vw;
}

.A_trailName {
    display: flex;
    height: 30px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background-color: var(--black);
    padding: 10px;

    color: #FEFEFE;
    font-family: 'Steinbeck';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 103.233%;
    /* 1.67756rem */
    text-transform: lowercase;
}

.A_heart {
    width: 20px;
    height: 18px;

    position: absolute;
    margin: -9vw 0vw 0vw 19vw;
}

.A_pointImange {
    width: 20.52vw;
    height: 20.52vw;
    object-fit: cover;
    overflow: hidden;
}

.A_pointNumber {
    color: var(--light-grey);
    font-family: "Steinbeck";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 95.388%;
}

.A_pointBody {
    width: 13.39vw;
    color: var(--grey);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 103.233%;
    /* 1.16138rem */
    text-transform: lowercase;
}

.A_pointLocation {
    a{
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-decoration-line: underline;
        text-transform: lowercase;
    }
}

/* comments */

.A_commit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;

    p {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        color: var(--grey);

        width: 11.17vw;
    }

    input {
        border: 1px solid var(--black);
        background-color: var(--light-grey);

        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;

        padding: 0.5vw 01vw;
        margin: 0.5vw 0;
        color: var(--grey);

        width: 11.17vw;
    }

    input:hover {
        background-color: var(--green);
        color: var(--black);
        border: none;
    }
}

/* registration shit */

.A_sessions {
    a {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-decoration-line: underline;
        color: var(--grey);
    }
}

.A_input {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
        color: var(--light-grey);
        border: none;
        border-bottom: 2px solid var(--white);
        /* background-color: var(--white); */
        background: none;

        width: 25.5rem;
        height: 2.5rem;

        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;

        margin-left: 2vw;
    }

    #profile_bio {
        border: none;
        border-bottom: 1px solid var(--black);
        background-color: var(--white);

        width: 25.5rem;
        height: 5rem;

        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;
    }

    p {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        color: var(--grey);
    }
    h3 {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        color: var(--grey);
    }

    #fandom_id, #duration_unit {
        width: 20rem;
    }
}

.A_commentInput {
    display: flex;
    flex-direction: column;

    #comment_body {
        border: none;
        border-bottom: 1px solid var(--black);
        background-color: var(--white);
    
        width: 30rem;
        height: 5.5rem;
    
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;
    }
}

.A_inputCheck {
    display: flex;
    flex-direction: row;
    gap: 10px;

    input {
        width: 1vw;
        height: 1vw;
    }

    p {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        color: var(--grey);
    }
}

/* profiles */

.A_avatar {
    width: 7.81vw;
    height: 7.81vw;
    object-fit: cover;
    overflow: hidden;
}

.A_ownProfileAvatar {
    width: 9.79vw;
    height: 9.79vw;
    object-fit: cover;
    overflow: hidden;
}

.A_nickname {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 103.233%;
    /* 1.16138rem */
    text-transform: lowercase;
}

.A_nicknameProfile {
    font-family: "Steinbeck";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
}

.A_filterTapsCount {
    margin-left: auto;
    font-weight: bold;
    color: black;

    font-family: "Steinbeck";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 95.388%;

    margin-top: 1vw;
}

.A_filterTapsName {
    font-family: "Steinbeck";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 95.388%;
}

.A_date {
    color: var(--grey);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 103.233%;
    /* 0.77425rem */
    text-transform: lowercase;
}

.A_trailBody {
    width: 20.57vw;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 103.233%;
    /* 1.16138rem */
    text-transform: lowercase;
}

.A_arrowDown {
    transform: rotate(0deg);
    /* Стрелка вниз */
}

.A_arrowDown.arrow-up {
    transform: rotate(180deg);
    /* Стрелка вверх */
}

/* decorations */

.A_authorisation_decor {
    width: 72%;
    margin-top: 2.5vw;
}

.A_logo {
    display: flex;
    align-items: center;
}

.A_logo img {
    width: auto;
    height: 30px;
    margin-right: 20px;
}

.A_add {
    position: absolute;

    img {
        height: 50px;
    }
}

a.A_diagonal_arrow {
    img {
        height: 1.46vw;
        width: fit-content;
    }
}

.A_diagonal_arrow_move {
    display: inline-block;
    vertical-align: middle;

    h3 {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-decoration-line: underline;

        margin: 0.5vw 0 0.7vw 0;
        padding: 0.25vw 0.5vw;
        width: fit-content;
        text-transform: lowercase;
    }
}

.A_trailImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* stuff */

.A_heading {
    font-family: Steinbeck;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 103.233%;
    text-transform: lowercase;
}

/* fandoms */
.A_fandomCategoryName {
    padding: 0.5vw 0 0.5vw 0;
    width: fit-content;
}

.A_fandomCategoryCounter {
    color: var(--grey);
    padding: 0.5vw 0 0.5vw 0;
    margin: -1.5vw 0 0;
    width: fit-content;
    height: fit-content;
}

.A_fandomName {
    padding: 0.5vw 0 0.5vw 0;
    font-size: 1.25rem;
}

.A_trailCounter {
    color: var(--grey);
    padding: 0.5vw 0 0.5vw 0;
    margin: -1.5vw 0 0;
    width: fit-content;
    height: fit-content;
}

.A_trailNameShow {
    a {
        font-family: 'Steinbeck';
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        /* 1.67756rem */
        text-transform: lowercase;
        color: var(--grey);
        text-decoration: underline;
    }
}