/* trails */

.M_briks {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5vw 4vw 4vw;
    gap: 1.5vw;
    justify-content: space-between;
}

.M_trailUpperInf {
    width: max-content;
}

.M_trailTags {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    text-transform: lowercase;
}

.M_previewPointPhotoTurbo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    white-space: nowrap;
    align-items: flex-end;
    margin-right: 5vw;
}

.M_dataInfo {
    display: flex;
    flex-direction: row;
    width: 17.86vw;
    justify-content: space-between;
    border-bottom: solid 2px;
    padding: 0.3vw 0.2vw;
    color: var(--grey);
}

.M_pointImgName {
    .A_trailName {
        background-color: var(--light-grey);
    }
}

.M_commentName {
    display: flex;
    justify-content: space-between;
}

/* profiles */

.M_profileInf {
    display: flex;
    flex-direction: column;
    padding: 1vw 5vw;
    gap: 20px;
    text-transform: lowercase;

    h1 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
    }

    p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }
}

.M_profileTags {
    display: flex;
    flex-direction: column;
   p, a {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-transform: lowercase;
    }
}

.M_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3vw;
}

.M_dataSort {
    p {
        color: var(--grey);
        font-family: "Steinbeck";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
    }
    display: flex;
    flex-direction: row;
    padding: 0 4vw;
    gap: 0.5vw;
}

.M_dataSortOther {
    p {
        color: var(--grey);
        font-family: "Steinbeck";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
    }

    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}


/* authorisation shit*/

.M_hello {
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    margin-top: 3.7vw;

    h2 {
        text-transform: lowercase;
        
        font-family: "Steinbeck";
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
    }

    p{
        width: 410px;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;
        color: var(--grey);
    }
}

.M_profileInf {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.M_UpperInf {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.M_profileInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    .M_profileTags.own {
        font-size: 0.875rem;
        line-height: 1;
    }
}

.M_filterTapsProfile {
    display: flex;
    width: 20vw;
}

.M_filterTapsProfile:hover {
    justify-content: flex-end;
    gap: -1vw;

    .A_filterTapsName {
        background-color: var(--light-grey);
        /* margin-left: -10vw; */
    }

    .A_filterTapsCount {
        padding: 0.5vw;
        background-color: var(--black);
        color: var(--white);
    }
}

.M_trailUsersCounter {
    margin-left: -0.8vw;
}

.M_personalOther {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.M_filterOtherButts {
    display: flex;
    flex-direction: row;
    margin: 0 3vw;
    gap: 1vw;
    padding: 1vw 0;
}

/* fandoms */

.M_fandomCatName {
    font-family: "Steinbeck";
    font-size: 1.625rem;
    font-weight: 400;
    font-style: normal;
    display: flex;
}

.M_fandomCatName:hover {

    .A_fandomCategoryName {
        background-color: var(--green);
    }

    .A_fandomCategoryCounter {
        background-color: var(--black);
        color: var(--white);
    }
}

.M_fandomNameShow {
    font-family: "Steinbeck";
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    display: flex;
    text-transform: lowercase;

    width: 20vw;
    justify-content: space-between;
}

.M_fandomNameShow:hover {
    .A_fandomName {
        background-color: var(--light-grey);
        width: 17.4vw;
    }

    .A_trailCounter {
        color: var(--white);
        background-color: black;
    }

    + .W_fandomTrailsShow {
        display: block;
    }
}

.M_trailsFandomShow {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5vw 5vw 4vw;
    gap: 1.5vw;
    width: 100%;
} 


/* some shit */

.M_trailButtons {
    display: flex;
    gap: 10px;
    margin: 2vw 0 1vw 5vw;
}

.M_rightBlock {
    background-color: var(--black);
    height: 14.30vw;
    width: -webkit-fill-available;
    display: flex;
    justify-content: end;
    margin-top: 2.5vw;
    

    .A_textIntroduction {
        width: 31.4vw;

        color: var(--white);
        font-family: "Steinbeck";
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        /* 1.67756rem */
        text-transform: lowercase;
        margin-top: 5.5vw;
        margin-right: 1vw;
    }
}

.M_smallNaming {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 14.7vw;

    .A_decorativeNaming {
        font-family: "Steinbeck";
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
    }

    .A_decorativeNaming.count {
        background-color: var(--black);
        color: var(--white);
        padding: 0.5vw 0.2vw;
        width: fit-content;
        margin-right: -3.5vw;
    }
    .A_decorativeNaming.name {
        background-color: var(--light-grey);
        padding: 0.5vw 0.2vw;
        width: fit-content;
    }
}

.M_carouselItems {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.M_carouselItems.marvel {
    display: flex;
    justify-content: space-between;
    margin: 0 3vw;
}

.M_fag {
    display: flex;
    flex-direction: row;
    gap: 6vw;

    .A_fag {
        width: 35vw;
        color: var(--grey);
        font-family: "Steinbeck";
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        /* 1.55006rem */
    }

    .A_answer {
        font-family: "Steinbeck";
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        /* 1.55006rem */
        width: 35vw;
        margin-top: 1vw ;
    }

    .A_fag.number {
        width: 10vw;
        display: flex;
        padding: 0.5vw;
        background-color: var(--green);
        justify-content: flex-end;
        height: fit-content;
    }
}

.M_galleryIndicators {
    text-align: center;
    margin-bottom: 10px;
}

.M_galleryIndicators .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}

.M_galleryIndicators .indicator.active {
    background-color: var(--green);
    /* Используй свой цвет */
}

.M_previewPointPhoto img {
    width: 35vw;
    height: 200px;
    object-fit: cover;
}

.W_carouselControls {
    text-align: center;
    margin-bottom: 20px;
}

/* form */

.M_formInput {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
    p {
        font-family: "Steinbeck";
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        /* 1.55006rem */
    }

    .A_nameForm.star {
        color: var(--green);
    }
    
    .M_hours {
        display: flex;
        flex-direction: row;
        margin-left: 1vw;
    
        p {
            color: var(--grey);
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 103.233%;
            /* 1.16138rem */
            text-transform: lowercase;
        }
    }
}

.M_break {
    display: flex;
    flex-direction: column;
    align-items: end;

    .A_trailPointsFormHeading {
        font-family: "Steinbeck";
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        /* 1.55006rem */
        width: 27.60vw;
        background-color: var(--green);
        padding: 0.5vw;
    }

    .A_trailPointsFormHeading.number {
        color: var(--white);
        background-color: var(--black);
        padding: 0.5vw 0.1vw;
        width: fit-content;
        margin-right: 27.60vw;
    }
}


