/* trails */

.M_briks {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5vw 4vw 4vw;
    gap: 1.5vw;
    justify-content: space-between;
}

.M_trailUpperInf {
    width: max-content;
}

.M_trailTags {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    text-transform: lowercase;
}

.M_previewPointPhotoTurbo {
    display: flex;
    overflow-x: auto;
    /* Добавляет горизонтальный скролл */
    gap: 10px;
    /* Расстояние между изображениями */
    white-space: nowrap;
    /* Изображения не переносятся на новую строку */
}

.M_dataInfo {
    display: flex;
    flex-direction: row;
    width: 17.86vw;
    justify-content: space-between;
    border-bottom: solid 2px;
    padding: 0.3vw 0.2vw;
    color: var(--grey);
}

.M_pointImgName {
    .A_trailName {
        background-color: var(--light-grey);
    }
}

/* comments */

.M_comment {
    padding: 2vw;

    p {
        width: 50%;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;
        margin: 1vw 0 1vw 0;
    }

    h3 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
    }
}

/* profiles */

.M_profileInf {
    display: flex;
    flex-direction: column;
    padding: 1vw 5vw;
    gap: 20px;
    text-transform: lowercase;

    h1 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
    }

    p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }
}

.M_profileTags {
    display: flex;
    flex-direction: column;
   p, a {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-transform: lowercase;
    }
}

.M_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3vw;
}

.M_dataSort {
    p {
        color: var(--grey);
        font-family: "Steinbeck";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
    }
    display: flex;
    flex-direction: row;
    padding: 0 4vw;
    gap: 0.5vw;
}

.M_dataSortOther {
    p {
        color: var(--grey);
        font-family: "Steinbeck";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
    }

    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}


/* authorisation shit*/

.M_hello {
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    margin-top: 3.7vw;

    h2 {
        text-transform: lowercase;
        
        font-family: "Steinbeck";
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
    }

    p{
        width: 410px;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;
        color: var(--grey);
    }
}

.M_profileInf {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.M_UpperInf {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.M_profileInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    p {
        font-size: 1.1em;
        line-height: 1.6;
    }
}

.M_filterTapsProfile {
    display: flex;
    width: 20vw;
}

.M_filterTapsProfile:hover {
    justify-content: flex-end;
    /* transform: translateY(-5px); */

    .A_filterTapsName {
        /* margin-left: 8vw; */
        background-color: var(--light-grey);

    }

    .A_filterTapsCount {
        padding: 0.5vw;
        background-color: var(--black);
        color: var(--white);
    }
}

.M_trailUsersCounter {
    margin-left: -0.8vw;
}

.M_personalOther {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.M_filterOtherButts {
    display: flex;
    flex-direction: row;
    margin: 0 3vw;
    gap: 1vw;
    padding: 1vw 0;
}

/* fandoms */

.M_fandomCatName {
    font-family: "Steinbeck";
    font-size: 1.625rem;
    font-weight: 400;
    font-style: normal;
    display: flex;
}

.M_fandomCatName:hover {

    .A_fandomCategoryName {
        background-color: var(--green);
    }

    .A_fandomCategoryCounter {
        background-color: var(--black);
        color: var(--white);
    }
}

.M_fandomNameShow {
    font-family: "Steinbeck";
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    display: flex;
    text-transform: lowercase;

    width: 20vw;
    justify-content: space-between;
}

.M_fandomNameShow:hover {
    .A_fandomName {
        background-color: var(--light-grey);
        width: 17.4vw;
    }

    .A_trailCounter {
        color: var(--white);
        background-color: black;
    }

    + .W_fandomTrailsShow {
        display: block;
    }
}

.M_trailsFandomShow {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5vw 5vw 4vw;
    gap: 1.5vw;
    width: 100%;
} 


/* some shit */

.M_trailButtons {
    display: flex;
    gap: 10px;
    margin: 2vw 0 1vw 5vw;
}