/* trail blocks */
.O_trail {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: min-content;

    a {
        font-size: 20px;
        font-weight: 550;
    }

    img {
        width: 35vw;
        height: auto;
        display: block;
    }
}

.O_trailLowerInf {
    width: 10vw;
    display: inline-flex;
    justify-content: space-between;
}

.O_trailProfileInf {
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    width: fit-content;
}

.O_trailProfile {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    width: max-content;

    a {
        font-size: 20px;
        font-weight: 550;
    }

    h2 {
        margin-top: 0;
    }
}

.O_infoTrail {
    margin: 3vw 0 1vw 5vw;
    display: flex;
    flex-direction: column;
    gap: 2.24vw;
}

.O_trailPoint {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.O_pointImgNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    width: fit-content;
}

.O_pointImgNumber:hover {
    .A_trailName {
        background-color: var(--black);
    }

    .A_pointNumber {
        color: var(--black);
    }
}

/* comments */

.O_newComent {

    h2 {
        padding: 0 0 1vw 0;
    }

    #comment_body {
        outline: none;
        border-bottom: 1px solid var(--black);
    }

    p {
        width: 50%;
        font-size: 22px;
        font-weight: 400;
        margin: 2vw 0 0.5vw 0;
    }

}

.O_replyComment {

    display: flex;
    justify-content: flex-end;
    width: 50%;

    h2 {
        padding: 0 0 1vw 0;
    }

    #comment_body {
        width: 50%;
        outline: none;
        border-bottom: 1px solid var(--black);
    }

    p {
        width: 50%;
        font-size: 22px;
        font-weight: 400;
        margin: 2vw 0 0.5vw 0;
    }

}

a.back {
    margin: 2vw 0 0 5vw;
}


/* fandom blocks */
.O_fandoms {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        padding: 1vw 1vw 2vw 0;
    }

    a:hover {
        background-color: var(--black);
        color: var(--white);
    }
}

/* profile blocks */

.O_secondPartProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 6.25vw;
}


.O_profileShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    p.A_nickname {
        font-family: "Steinbeck";
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
    }
}

.O_profileShow:hover {
    .A_nickname {
        background-color: var(--green);
    }
}

.O_ownProfileInfo {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}