/* fandoms block */
.W_Fandoms {
    display: flex;
    flex-direction: row;

    a {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-decoration-line: none;
        cursor: pointer;
    }

    a:hover {
        text-decoration-line: underline;
    }
    
    .fan {
        display: flex;
        padding: 0 5vw;
        gap: 1.5vw;
        flex-direction: column;
    }
}

.W_fandomInf {
    display: flex;
    flex-direction: row;
    margin: 2vw 5vw;
    height: 89%;

    h2 {
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        text-transform: lowercase;
    }

    p {
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;

        width: 32.44vw;
    }

    .W_fandSInf {
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }

    .M_briks {
        display: flex;
        flex-wrap: wrap;
        padding: 1.5vw 5vw 4vw;
        gap: 1.5vw;
        justify-content: space-between;
    }
    .W_buttons {
        display: flex;
        flex-direction: column;
    }
}

/* trails blocks */
.W_titles {
    
    display: flex;
    flex-direction: column;
    padding: 1vw 5vw;
    gap: 20px;

    a {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        text-transform: lowercase;
    }

    h2 {
        font-size: 28px;
        font-weight: 650;
        text-transform: lowercase;
    }
    
}

.W_trailHead {

    h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;
        background-color: var(--black);
        color: var(--white);
        padding: 0.4vw;
        width: fit-content;
    }

    h3 {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-decoration-line: underline;

        margin: 0.5vw 0 0.7vw 0;
        padding: 0.25vw 0.5vw;
        width: fit-content;
        text-transform: lowercase;
    }
}

.W_imageContainer {
    position: relative;
}

.W_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;

    justify-content: flex-start;
    align-items: baseline;

    a {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-decoration-line: underline;
        text-transform: lowercase;
    }

    .like-button {
        position: absolute;
        margin: -21vw 33vw;
        cursor: pointer;
        width: 24px;
        height: 24px;
        z-index: 10;
        transition: opacity 0.3s ease;
    }
    
    .like-button img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    .like-button:hover img {
        opacity: 0.8;
        transform: scale(1.1);
    }
}

.W_comments {
    display: flex;
    padding: 1vw 5vw;
    flex-wrap: wrap;
    flex-direction: column;

    .comment {
        margin: 0 0 0 5vw;

        p {
            width: 50%;
            font-size: 22px;
            font-weight: 400;
            margin: 2vw 0 0.5vw 0;
        }
    }
}



/* profiles */

.W_wrapprof {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    width: 100%;

    .W_profiles {
        display: flex;
        align-items: flex-end;
    
        .chillGuy {
            padding: 1vw 0;
            
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 400;
            line-height: 103.233%;
            text-decoration-line: underline;
            text-transform: lowercase;
        }
    }
}

.W_directionBlocks {
    display: inline-flex;
    gap: 2vw;

    .W_sizeBoxes {
        flex: 1;
        display: flex;
        flex-direction: row;
    }
}


/* authorisation shit */

.W_inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2vw 30%;
}

.W_form {
    /* height: 36vw; */
    flex: 1;
    margin-top: -11vw;
    padding: 2vw 19vw;
}

/* comments */

.W_commentInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* basic pages --> about */

.W_welcomeAbout {
    background-image: url('aboutImage.jpg');
    background-size: cover;
    width: 100%;
    height: 52.83vw;
    display: flex;
    margin-bottom: 6vw;
    
    h1 {
        color: #FFF;
        background-color: var(--black);
        width: fit-content;
        
        font-size: 5.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        
        padding: 0.5vw;
    }

    .W_welTitle {
        margin: 1vw 5vw;
    }
}

.W_adventure {
    /* display: flex; */
    margin-bottom: 15vw;
    margin-top: 7vw;
}

.W_company {
    /* display: flex; */
    margin-bottom: 4vw;
    margin-top: 7vw;

    .M_person {
        h2 {
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 103.233%;
            text-transform: lowercase;
        }

        h3 {
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 400;
            line-height: 103.233%;
            text-decoration-line: underline;
        }
        .W_textPerson {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

}

.W_textTitles {
    margin-left: 51%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    h1 {
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 95.388%;
        text-transform: lowercase;
    }

    p {
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;

        width: 32.44vw;
        margin-left: 24%;
    }
}

.W_inspAbout {
    margin-bottom: 7vw;
    margin-top: -15vw;
    display: flex;
    flex-direction: column;

    
}

.W_favFandoms {
    margin-bottom: 4vw;
    margin-top: 9vw;

    .W_fandomAbout {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 15vw 16vw;

        .fandom {
            display: inline-flex;
            gap: 10px;

            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 103.233%;
            text-transform: lowercase;
            cursor: pointer;
        }

        .fandom:hover {

            h3,
            p {
                background-color: #d3d3d3;
                color: black;
                width: fit-content;
            }
        }

        h3 {
            margin-top: -1.5vw;
        }
    }
}

.W_mailer {
    margin-top: -2vw;

    .W_textTitles {
        margin-left: 51%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            width: 25.36vw;
        }

        p {
            width: 32.44vw;
            margin-left: 0;
        }
    }
}

.W_welcome {
    background-image: url('mainWelcome.png');
    background-size: cover;
    width: 100%;
    height: 50vw;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;

        margin: 24vw 37vw 5vw;
    }

    h3 {
        color: var(--grey);
        
        font-family: Formular;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-transform: lowercase;
        margin: 9vw 42vw 0;
    }
}

.W_recs {
    margin-bottom: 7vw;
    display: flex;
    flex-direction: column;

    .blures {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 5vw 4vw 0;

        .blur {
            width: 23vw;
            height: 22vw;
        }
        .blurr {
            width: 45vw;
            height: 22vw;
        }

        h1 {
            color: #FEFEFE;
            background-color: var(--black);

            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 103.233%;
            text-transform: lowercase;

            margin-top: -0.5vw
        }

        .inf {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    h3 {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-decoration-line: underline;
    }
}

.W_recsYoda {
    margin-bottom: 7vw;
    display: flex;
    flex-direction: column;

    .blures {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 14vw 4vw 0;

        .blur {
            width: 22vw;
            height: 22vw;
        }
        .blurr {
            width: 45vw;
            height: 22vw;
        }

        h1 {
            color: #FEFEFE;
            background-color: var(--black);

            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 103.233%;
            text-transform: lowercase;

            margin-top: -0.5vw
        }

        .inf {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    h3 {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 103.233%;
        text-decoration-line: underline;
    }
}