body {
    font-family: 'InterDisplay', sans-serif;
    
    nav {
        width: 83%;
        height: 100%;
        padding: 0.7vw 8vw;
        display: inline-flex;
        justify-content: space-between;
        position: relative;

        background-color: #FEFE34;
    }

    footer {
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-end;

        width: 95%;
        padding: 0.7vw 2vw;

        h4 {
            font-size: 22px;
            font-weight: 400;
            line-height: 0;
        }
    
        p {
            font-size: 28px;
        }

        a {
            line-height: 2.5;
        }

        .students, .teachers {
            display: flex;
            flex-direction: column;
        }

        .students {
            width: 19vw;
        }
    }

    a {
        font-size: 32px;
        font-weight: 500;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}

body#welcome {
    background-image: url('/autoupload/promo.jpg');
    background-size: cover;
    
    .hiBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h2 {
            font-size: 70px;
            font-weight: 500;
            align-items: center;
        }
    
        p {
            font-size: 28px;
            text-align: center;
            width: 702px;
            margin-top: -3vw;
            line-height: 33px;
        }
    }

    h1 {
        font-size: 27vw;
        font-weight: 410;
        text-align: center;
        margin-top: -6.3vw;
    }

    
    .zeroBlock { 
        position: relative;
        height: 57vw;
        z-index: -1;
        
        .buttsNonClick {
            position: absolute;
            width: 100%;
            display: inline-flex;
            gap: 20px;
            justify-content: center;
            margin-top: -14vw;

            h3 {
                font-size: 75px;
                font-weight: 400;
        
                width: 400px;
                padding: 0 10px 10px;
                border-radius: 50px;
                background-color: #FEFE34;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .fisrtBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 82vw;
    }

    .secondBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 71vw;
    }

    .thirdBlock {
        display: flex;
        flex-direction: column;
        height: 80vw;
        gap: 22vw;

        .fandomNames {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(14.63vw, 1fr));
            gap: 20px;
            padding: 30px;
    
            .fandom-block {
                height: 42px;
                border: 2px solid #000;
                border-radius: 10px;
                text-align: center;
                padding: 15px 10px 10px;
                /* Запрещаем перенос текста на новую строку */
                white-space: nowrap;
                /* Скрываем переполнение и Добавляем троеточие при переполнении*/
                overflow: hidden;
                text-overflow: ellipsis;
    
                font-size: 28px;
                color: #000;
            }
    
            .fandom-block.grey {
                background-color: #f3f3f3;
                border: none;
            }
    
            .fandom-block.yellow {
                background-color: #FEFE34;
                border: none;
            }
        }
    }

    .fourthBlock {
        height: 74vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: -27vw;

        .helloCard {
            background-image: url('autoupload/card01.jpg');
            background-size: cover;
            padding: 29vw 23px 1vw;
            width: 30.5vw;
            border-radius: 10px;

            margin: 8vw 0 0 32vw;

            h3 {
                font-size: 32px;
                font-weight: 400;
            }

            p {
                font-size: 22px;
                font-weight: 400;

                padding: 5px 10px;
                width: fit-content;
                border: #000 2px solid;
                border-radius: 10px;
            }

            /* .photo2 {
                position: absolute;
                margin: -33.5vw -27px 0px;
                height: 36vw;
                z-index: -1;
            } */
        }
    }

    .fifthBlock {
        height: 40vw;
    }
}

body#about {
    background-image: url('autoupload/about.jpg');
    background-size: cover;

    p {
        font-size: 28px;
    }

    .titleBlock {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 40px;

        width: 1018px;
        margin: 0 auto;

        h2 {
            font-size: 70px;
            font-weight: 500;
            line-height: 62px;
        }
    
        p {
            font-size: 28px;
            width: 702px;
            margin-top: -3vw;
            line-height: 33px;
        }
    }

    .firstBlock {
        height: 68vw;
        
        .images {
            display: inline-flex;
            gap: 0;
            align-items: flex-start;
            margin-left: -1vw;
            margin-top: -4vw;

            .photo01 {
                width: 11.3vw;
            }
            .photo02 {
                width: 19vw;
            }
            .photo03 {
                width: 39vw;
            }
            .photo04 {
                width: 19vw;
            }
            .photo05 {
                width: 12vw;
            }
        }

        h1 {
            font-size: 19vw;
            font-weight: 410;
            text-align: center;
            margin-top: -4.3vw;
        }

        p {
            text-align: center;
            margin-top: -15.5vw;
        }
    }

    .secondBlock {
        height: 76vw;

        .titleBlock {
            margin-top: 4vw;

            p {
                width: 35vw;
            }
        }

        .photo1 {
            width: 67vw;
            margin: 2vw 0 0 17vw;
        }
    }

    .thirdBlock {
        height: 76vw;

        .images01 {
            .photo2 {
                width: 47vw;
                margin: 6vw 0 0 26vw;
            }
            .photo3 {
                width: 26vw;
                position: absolute;
                margin: 18vw 0 0 -67vw;
                transform: rotate(-7deg);
            }
            .photo4 {
                width: 26vw;
                position: absolute;
                margin: 25vw 0 0 -9vw;
                transform: rotate(5deg);
            }
        }

        .titleBlock {
            margin-top: 2vw;
        }
    }

    .fourthBlock {
        height: 80vw;
        gap: 5vw;

        display: flex;
        flex-direction: column;

        p {
            width: 43vw;
        }

        .images02 {
            display: inline-flex;
            justify-content: center;
            gap: 10vw;
            margin-top: 23vw;
            align-items: baseline;

            .photo6 {
                margin-top: -11vw;
                width: 31vw;
            }
        }
    }

    .fifthBlock {
        height: 92vw;
        display: flex;

        h2 {
           width: 58vw; 
        }
        p {
            width: 656px;
        }
    }

}