@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Light.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Regular.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Medium.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-SemiBold.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexSans';
    src: url('IBMPlexSans-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* italic */