<div id="trail-points-list"
     data-template="<%= j(render('admin/trails/trail_point_fields', f: form.fields_for(:trail_points, TrailPoint.new, child_index: 'NEW_RECORD') { |tp| tp })) %>">
  <%= form.fields_for :trail_points do |trail_points_form| %>
    <%= render 'admin/trails/trail_point_fields', f: trail_points_form %>
  <% end %>
</div>

<button type="button" id="add-trail-point">Добавить точку</button>

<div class="form-note">
  <span>★ после публикации редактирование маршрута будет недоступно</span>
</div>

<%= form.submit "Опубликовать маршрут", class: "submit-button" %>