<body class="newTrail" style="width: 100%;">
  <% content_for :title, "новый маршрут" %>

  

  <div class="M_hello">
      <h2>новый маршрут</h2>
  </div>

  <%= render "form", trail: @trail %>
</body>