<body class="newTrail" style="width: 100%;">
  <div class="M_hello">
    <h2>новый маршрут</h2>
  </div>
  <%= turbo_frame_tag "trail-form" do %>
    <%= render "form", trail: @trail %>
    <%= render "form_points", trail: @trail %>
  <% end %>
</body>