@media only screen and (min-device-width: 1680px) {
body.fandoms {
    
    .briks {
        display: flex;
        flex-wrap: wrap;
        padding: 0 5vw;
        gap: 1.5vw;
        justify-content: center;


        .trail {
            width: 16vw;
            height: fit-content;
            padding: 1vw;
    
            background-color: var(--light-grey);
            border-radius: 20px;

            display: flex;
            flex-direction: column;

            h2 {
                font-size: 28px;
                font-weight: 650;
            }
            h3 {
                font-size: 16px;
                font-weight: 400;
                margin: 0.5vw 0 0.7vw 0;

                padding: 0.25vw 0.5vw;
                border: 1px solid var(--black);
                border-radius: 20px;
                width: fit-content;
            }
            p {
                font-size: 22px;
                font-weight: 400;
            }
            a {
                font-size: 20px;
                font-weight: 550;
            }

            .butts {
                margin-top: 3vw;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5vw;
            }
        }
    }


}

}