body#welcome {
    background-image: url('/autoupload/promo.jpg');
    background-size: cover;
    width: auto;

    .hiBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h2 {
            font-size: 70px;
            font-weight: 500;
            align-items: center;
        }

        p {
            font-size: 28px;
            text-align: center;
            width: 702px;
            line-height: 33px;
        }
    }

    h1 {
        font-size: 27vw;
        font-weight: 410;
        text-align: center;
        margin-top: -1vw;
    }


    .zeroBlock {
        position: relative;
        z-index: -1;

        margin-bottom: 25vw;

        .buttsNonClick {
            position: absolute;
            width: 100%;
            display: inline-flex;
            gap: 20px;
            justify-content: center;
            margin-top: 10vw;

            h3 {
                font-size: 75px;
                font-weight: 400;

                width: 400px;
                padding: 0 10px 10px;
                border-radius: 50px;
                background-color: var(--yellow);

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .fisrtBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 64vw 0 45vw 0;
    }

    .secondBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 51vw 0 15vw;
    }

    .thirdBlock {
        display: flex;
        flex-direction: column;
        gap: 23vw;
        margin: -2vw 0 10vw 0;

        .fandomNames {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(14.63vw, 1fr));
            gap: 20px;
            padding: 30px;

            .fandom-block {
                height: 60px;
                border: 2px solid #000;
                border-radius: 10px;
                text-align: center;
                padding: 15px 10px 10px;
                /* Запрещаем перенос текста на новую строку */
                white-space: nowrap;
                /* Скрываем переполнение и Добавляем троеточие при переполнении*/
                overflow: hidden;
                text-overflow: ellipsis;

                font-size: 28px;
                color: #000;
            }

            .fandom-block.grey {
                background-color: #f3f3f3;
                border: none;
            }

            .fandom-block.yellow {
                background-color: var(--yellow);
                border: none;
            }
        }
    }

    .fourthBlock {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 16vw 0 10vw 0;

        .helloCard {
            background-image: url('autoupload/card01.jpg');
            background-size: cover;
            padding: 29vw 23px 3vw;
            width: 31vw;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            gap: 20px;

            margin: 5vw 0 0 32vw;

            h3 {
                font-size: 32px;
                font-weight: 400;
            }

            p {
                font-size: 22px;
                font-weight: 400;

                padding: 5px 10px;
                width: fit-content;
                border: #000 2px solid;
                border-radius: 10px;
            }

            /* .photo2 {
                position: absolute;
                margin: -33.5vw -27px 0px;
                height: 36vw;
                z-index: -1;
            } */
        }
    }

    .fifthBlock {
        margin: 12vw 0 16vw 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vw;
    }
}

body#about {
    background-image: url('autoupload/about.jpg');
    background-size: cover;

    p {
        font-size: 28px;
    }

    .titleBlock {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 40px;

        width: 1018px;
        margin: 0 auto;

        h2 {
            font-size: 70px;
            font-weight: 500;
            line-height: 62px;
        }

        p {
            font-size: 28px;
            width: 702px;
            line-height: 33px;
        }
    }

    .firstBlock {
        margin: 0 0 13vw 0;

        .images {
            display: inline-flex;
            gap: 0;
            align-items: flex-start;
            margin-left: -1vw;
            margin-top: -4vw;

            .photo01 {
                width: 11.3vw;
            }

            .photo02 {
                width: 19vw;
            }

            .photo03 {
                width: 39vw;
            }

            .photo04 {
                width: 19vw;
            }

            .photo05 {
                width: 12.7vw;
            }
        }

        h1 {
            font-size: 19vw;
            font-weight: 410;
            text-align: center;
            margin-top: -2.3vw;
        }

        p {
            text-align: center;
        }
    }

    .secondBlock {
        margin: 20vw 0 16vw 0;

        .titleBlock {
            margin-top: 4vw;

            p {
                width: 35vw;
            }
        }

        .photo1 {
            width: 67vw;
            margin: 2vw 0 0 17vw;
        }
    }

    .thirdBlock {
        margin: 20vw 0 10vw 0;

        .images01 {
            .photo2 {
                width: 47vw;
                margin: 6vw 0 0 26vw;
            }

            .photo3 {
                width: 26vw;
                position: absolute;
                margin: 18vw 0 0 -67vw;
                transform: rotate(-7deg);
            }

            .photo4 {
                width: 26vw;
                position: absolute;
                margin: 25vw 0 0 -9vw;
                transform: rotate(5deg);
            }
        }

        .titleBlock {
            margin-top: 4vw;
        }
    }

    .fourthBlock {
        margin: 11vw 0 27vw 0;
        gap: 8vw;

        display: flex;
        flex-direction: column;

        p {
            width: 43vw;
        }

        .images02 {
            display: inline-flex;
            justify-content: center;
            gap: 10vw;
            margin-top: 23vw;
            align-items: baseline;

            .photo6 {
                margin-top: -11vw;
                width: 31vw;
            }
        }
    }

    .fifthBlock {
        margin: 17vw 0 59vw 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vw;

        h2 {
            width: 58vw;
        }

        p {
            width: 656px;
        }
    }

}