<footer>
  <div class='students'>
    <h4>авторы:</h4>
    <p>Настя Ляч <br>
    Даша Любивая <br>
    Саша Зеленкова</p>
  </div>

    <p>ADC</p> 
    <%= link_to "rutas", root_url %>
    <p>2024/2025</p>

  <div class='teachers'>
    <h4>кураторы:</h4>
    <p>Захар День <br>
    Вадим Булгаков <br>
    Дмитрий Александров</p>
  </div>
</footer>