<footer>
  <div class='A_logo'>
    <%= link_to root_url do %>
      <%= image_tag 'atoms/A_logo_white.png', alt: 'Логотип' %>
    <% end %>
  </div>

  <div class='M_menu_items'>
    <%= link_to "rutas", root_url %>
    <a href="https://t.me/rutas_media" class="A_nav_menu_item">тг</a>
    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://design.hse.ru/&ved=2ahUKEwjF17buzKuMAxVwFxAIHeTvK58QFnoECCEQAQ&usg=AOvVaw27P2gHXInq8gCn1uF_VR9g" class="A_nav_menu_item">2024 adc</a>
  </div>
</footer>