<%= form_with(model: fandom, html: { class: "W_inputs" }) do |form|%>
  
  <div class="A_input">
    <p>название</p>
    <%= form.text_field :name %>
  </div>

  <div class="A_input">
    <p>описание</p>
    <%= form.text_area :description, style: "height:22vw;" %>
  </div>

  <div class="A_commit">
    <%= form.submit "добавить"%>
  </div>
  
<% end %>

