<body class='editFandom' style="width: 100%;display: flex;flex-direction: column;min-height: 100vh;">
  
  <div class="M_hello">
    <h2>редактировать фандом</h2>
  </div>

  <%= render "form", fandom: @fandom %>


</body>

